{% extends 'base.html' %}

{% block title %}login{%endblock %}
{%block heading%}Log in{%endblock%}
{% block body %}
<form action="." method="post">
    {% csrf_token %}
    <div>
        <label class="labels">Username:</label><br>
        {{form.username}}
    </div>
    <div>
        <label class="labels">Password:</label><br>
        {{form.password}}
    </div>
        <button type="submit" class="btn">sign up</button>
    {% if form.errors %}
    <div class="errors">
        <ul>
            {%for field in form%}
            {%for error in field.errors %}
            <li>{{field.label}}: {{error}}</li>
            {%endfor%}
            {%endfor%}
            {%for error in form.non_field_errors%}
            <li>{{error}}</li>
            {%endfor%}
        </ul>
    </div>
    {% endif %}
    
</form>
{% endblock %}